.shop{
    display: flex;
    justify-content: space-between;
}

.product-container{
    width: 80%;
    /* padding-left: 10%; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px;
    margin: 50px;
}
.cart-container{
    height: 100%;
    background-color: #ff990075;
    width: 20%;
    padding: 20px;
}

.text-center{
    text-align: center;
}